							{if $s_company == "all" || $second_level.description == export_data_menu_description || $subitem_title != "users"}							
									<li{if $subitem_title == $navigation.subitem} class="active"{/if}><a href="{$sm.href}">{$lang[$subitem_title]}</a></li>								
							{/if}




													{hook name="index:dynamic_menu_item"}
						{$mode|fn_print_r}
						{if $s_company == "all" || ($s_id != "users" && $s_id != "subscribers")}
						<li class="{if $m.js == true}cm-js{/if}{if $smarty.foreach.first_level.last} cm-last-item{/if}{if $navigation.dynamic.active_section == $s_id} cm-active{/if}"><span><a href="{$m.href|fn_url}">{$m.title}</a></span></li>
						{/if}
						{/hook}